/* -----------Estilos generales----------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/fondo.jpeg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    align-items: center;
    background-color: rgba(218, 4, 104, 0.32);
}
header> figure{
    width: 30%;
    margin: 2vh;
}
#logo{
    width: 100%;
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin-right: 4vh;
}
nav> a{
    text-decoration: none;
    border: solid rgba(125, 13, 65, 1);
    border-radius: 51%;
    padding: 2vh;
    background-color: rgba(218, 4, 104, 1);
    color: rgba(246, 184, 207, 1);
    font-size: small;
    width: 11vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#posicion{
    box-shadow: -5px 5px 3px rgb(125, 13, 65)
}
#titulo{
    background-color: rgb(218, 4, 104);
    margin: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(246, 184, 207, 1);
}
#der, #izq{
    width: 8vh;
    height: 8vh;
    margin: 1vh;
}
footer{
    background-color: rgb(218, 4, 104);
    display: flex;
    margin: 10px;

}
footer{
    display: flex;
    justify-content: space-between;
}
footer> figure{
    width: 19%;
    margin: 1vh 0 1vh 1vh ;
    display: flex;
    justify-content: space-evenly;
}
footer> figure> img{
    width: 16%;
}
footer> p{
    margin: 0 4vh 0 0;
    display: flex;
    align-items: center;
    color: rgb(246, 184, 207);
    font-size: large;
}

/* -----------Home----------- */
#cards{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.card{
    width: 54vh;
}
.card-img-top{
    height: 26vh;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price> p{
    margin: 0;
    display: flex;
    align-items: center;
}
#filter{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-outline-success{
    border: solid rgb(218, 4, 104);
    color: rgb(218, 4, 104);
}
/* -----------Contact----------- */
.mb-3, .col-12{
    margin: 10px;
}
.col-12{
    display: flex;
    justify-content: flex-end;
    width: 91%;
}
/* -----------Stats----------- */
table{
    margin: 10px;
    text-align: center;
    border: solid rgba(125, 13, 65, 1);
}
thead{
    background-color: rgba(218, 4, 104, 0.1);
    border-bottom: solid rgba(125, 13, 65, 1);
    border-top: solid rgba(125, 13, 65, 1);
    height: 32px;
}
td{
    border-left: solid rgba(125, 13, 65, 1);
    height: 32px;
    width: 30%;
}
/* -----------Media queries----------- */
@media only screen and (min-width: 320px) and (max-width:425px){
    header{
        flex-direction: column;
        margin: 0;
    }
    header> figure{
        width: 50%;
    }
    nav{
        width: 90%;
        margin-right: 0;
        justify-content: space-around;
    }
    nav> a{
        margin: 0.5vh;
    }
    #titulo{
        margin: 0;
    }
    #filter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer> figure{
        width: 20%;
        margin: 0.5vh 0 0.5vh 0.5vh;
    }
    footer> figure> img{
        width: 27%;
    }
    footer> p{
        margin: 0 2vh 0 0;
    }
}